node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn.lock
package-lock.json
*.ReactotronConfig.js

# macOS
.DS_Store
ios/build
ios/Pods/*
ios/*
android/*
android/local.properties
ios/Podfile.lock
ios/zemopay-tvOS/
ios/zemopay-tvOSTests/
ios/zemopay.xcodeproj/xcuserdata/
ios/zemopay.xcworkspace/xcuserdata/

!android/app/build.gradle
!android/app/settings.gradle
!android/app/src/main/java/com/wowshoppinglist/
!ios/zemopay.xcodeproj/
!android/app/src/main/res/*
!android/app/src/main/assets/fonts/*

__tests__/*
